*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    overflow-x: hidden;
}

.header{
    height: 120px;
    width: 100vw;
    /* background-color: rgba(41, 71, 86, 0.712); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 40px;
    background-color: black;
    width: 100vw;
    color: white;
    
}

.header .left {
    display: flex;
    font-size: 0.8em;
    gap: 20px;
}

.header .right{
    display: flex;
    gap: 20px;
}
.second h2{
    font-size: 2em;
}
.second a{
    font-size: 0.9em;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   width: 100vw;
}
.second button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color: orange;
}
.list-items{
    display: flex;
    gap: 20px;
    list-style-type: none;

}

.list-items a{
    text-decoration: none;
    color: black;
}

i{
    color: orange;
}


/* body */
/* home */
.home{
    background-image: url(slide-2.jpg);
    min-width: 100vw;
    min-height: 83vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .left{
    /* height: 400px;
    width: 100px; */
    /* background-color: red; */
    width: 800px;
    padding: 80px;
    color: white;
}

.left h2{
    font-size: 4em;
}
.left p{
    font-size: 1.4em;
}
.buttons{
    margin-top: 20px;
}
#c{
    height: 40px;
    width: 100px;
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;
    border-radius: 6px;
}

/* section 2 */
.boxes{
    margin: 80px 0px 80px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxes .box{
    height: 290px;
    width: 320px;
    padding: 40px;
    /* background-color: red; */
    border: 1px solid rgb(200, 196, 196);
}

.box img{
    height: 80px;
}


/* section 3 */
.about{
    /* width: 100vw; */
    margin: 80px 0px 80px 0px;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    /* margin: 0px 40px 0px 40px; */
    align-items: center;
    flex-wrap: wrap;
}

.about .right{
    display: flex;
    width: 40vw;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1041px) {
    .about .right{
        width: unset;
    }
  }

#span{
    color: orange;
    font-size: 2em;
}

.right h2{
    font-size: 2.8em;
}


/* services section 4 */
.services{
    margin: 80px 0px 80px 0px;
    /* margin-top: 40px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    text-align: center;
}
#head{
    color: orange;
    font-size: 1.6em;
}
.services h2{
    font-size: 3em;
}

.services h3{
    font-weight: 200;
    font-size: 2em;
}


.services .rows{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.service{
    height: 300px;
    /* border: 1px solid black; */
}

.service img{
    height: 80%;
}

.service .content{
    display: flex;
    /* justify-content: space-evenly; */
    overflow: hidden;
    gap: 20px;
    text-align: start;

}

.logo {
    overflow: hidden;
}
.service .content .logo i{
    font-size: 34px;
}

#para2{
    font-weight: 200;
}


/* section 5 */
.contactus{
    margin: 80px 0px 80px 0px;
    display: flex;
    justify-content: space-evenly;
}

.contactus .right .row-c{
    
    margin-top: 30px;
}

.contactus .right input{
    height: 40px;
    width: 240px;
    padding-left: 20px;
    border: 1px solid rgba(rgb(255, 255, 255), rgb(251, 251, 251), rgb(247, 247, 255), 0.4);
}
.contactus .right select{
    height: 40px;
    width: 240px;
    padding-left: 20px;
}
.contactus .right textarea{
    height: 100px;
    width: 98%;
    padding-left: 20px;
}

.row-c button{
    height: 50px;
    width: 200px;
    background-color: rgb(255, 123, 0);
    border:  none;
    color: white;
    border-radius: 30px;
    font-size: 1em;
}

.banner{
    background-image: url(cta-s2-bg.jpg);
    height: 570px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin: 80px 0px 80px 0px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(14, 38, 94);
}

.banner p{
    font-size: 1.6em
}
.banner h2{
    font-size: 4em;
}